.Root {
  composes: BgNeutral from '../../css/colors.css';
  text-align: center;
}

.Logo {
  height: 80px;
}

.Header {
  composes: BgPrimary from '../../css/colors.css';
  height: 150px;
  padding: 20px;
  color: white;
}

.Title {
  font-size: 1.5em;
}

.Intro {
  font-size: large;
}

.Footer {
  composes: neutralBg from '../../css/colors.css';
  position: fixed;
  right: 0;
  bottom: 0;
}
